<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AllowRedirect" value="true"/>
    <add key="ApiId" value="BE0FACD3-343D-419F-A37D-267588E0A393"/>
    <add key="AppName" value="GoodApp"/>
    <add key="ServerId" value="84"/>
    <add key="StartDate" value="24-11-2017"/>

    <add key="AllowDirection" value="yes"/>
    <add key="ApiIdentifier" value="NotGuid"/>
    <add key="RedirectDate" value="24-37-2008"/>
    <add key="ServerMapperId" value="j8d4"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
